<div id="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxLayout="column" id="card-detalhes">
        <mat-toolbar color="primary">{{ produto.nome }}</mat-toolbar>

        <mat-card-content>
          <h2>{{ produto.categoria }}</h2>
            <img mat-card-image src="{{produto.foto}}">
            <h4>
              {{ produto.descricao }}
            </h4>
            <p>
        </mat-card-content>

        <mat-card-actions>

          <button mat-button [disabled]="quantidadeProduto > 1 ? false : true" (click)="sub()">-</button>
          <input [disabled]="true" type="number" [value]="quantidadeProduto">
          <button mat-button (click)="add()">+</button>

          <mat-label>Preço: {{ precoTotal * quantidadeProduto }}</mat-label>

          <input #buscaMesa matInput type="number" value="">
          <button id="btn-card" [disabled]="!(buscaMesa.value !== '' && buscaMesa.valueAsNumber > 0)"
            mat-button (click)="checkComanda(buscaMesa.valueAsNumber)">Adicionar para comanda</button>

          <button mat-button (click)="irParaHome()">Voltar</button>

        </mat-card-actions>
    </mat-card>
</div>
