<div id="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxLayout="column" id="card-item">
        <button mat-button id="btn-voltar"   (click)="irParaHome()">Voltar</button>
        <mat-toolbar color="primary" color="primary" fxLayoutAlign="center center">{{ produto.nome }} </mat-toolbar>

        <mat-card-content>
          <h2 fxLayoutAlign="center center">{{ produto.categoria }}</h2>
            <img fxLayoutAlign="center center" mat-card-image src="{{produto.foto}}">
            <h4 fxLayoutAlign="center center">
              {{ produto.descricao }}
            </h4>
            <p>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center center" fxLayout="column" >
          <form [formGroup]="FormComanda" >

            <mat-form-field>
              <input matInput placeholder="Mesa" id="mesa" type="number" formControlName="mesa">
 
            </mat-form-field>
          </form>

          <div  fxLayoutAlign="center center" fxLayout="row">
            <button  id="btn-decrementador" mat-button [disabled]="quantidadeProduto > 1 ? false : true" (click)="sub()">-</button>
            <input id="input-valor" [disabled]="true" type="number" [value]="quantidadeProduto">
            <button id="btn-incrementador" mat-button (click)="add()">+</button>
          </div>


          <mat-label>Preço: {{ precoTotal * quantidadeProduto }}</mat-label>

          <button id="btn-card" mat-button type="submit">Adicionar para a comanda</button>
        </mat-card-actions>
    </mat-card>
</div>
