#card-comanda{
    width: 98%;
    height: 96%;
   //  background-color: #744c24;
   background: #bb8e5d;
    overflow-x: auto;
 }
 #card-itens{
   background-color: #744c24;
   // background-color: #D2B590;
  width: 90%;
  height: 90%;
  margin-top: 1em;

 }
 #voltar{
   height: 30px;
   width: 30px;
 }
 #editar{
   height: 20px;
   width: 20px;
 }
 #excluir{
   height: 20px;
   width: 20px;
 }
 #ir-pagamento{
   height: 30px;
   width: 30px;
 }
 #cancelar{
   height: 30px;
   width: 30px;
 }
#btn-voltar{
   width: 1%;
   height: 4%;
   margin-top: -1rem;
   margin-left: 85rem;
   padding-bottom: 2rem;
}
 ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #E2D1BB !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #E2D1BB!important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #E2D1BB!important;
  }

 mat-toolbar.mat-primary{
   width: 90%;
      margin-left: 4.6rem;
    background-color: #D2B590;
 }
 .conteudo-de-fora{
    background-color: #E2D1BB;
    width: 100%;
    height: 100%;
 }
 .btn-card{
   
    background-color: #D2B590;
    width: auto;
    height: 60%;

 }
 .btn-card-f{
   margin-top: 1rem;
   background-color: #D2B590;
   width: 90%;
   height: auto;
 }
 #botoes-card{
    margin-left: 56rem;
 }
#preco-final{
  margin-top: 1rem;
  
}

#preco-quantidade{
  margin-left: 4%;
}