<div class="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <form [formGroup]="FormLogin" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-toolbar color="primary">Login</mat-toolbar>
      <mat-form-field>
        <input matInput placeholder="email" id="email" type="text" formControlName="email">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="senha" id="senha" type="text" formControlName="senha">
      </mat-form-field>
    
      <button id="btn-card" mat-button type="submit">Login</button>
      <a class="link" [routerLink]="'/cadastro-funcionario'">Não tem conta? Cadastre-se!</a>
    </form>
  </mat-card>
</div>

