<mat-sidenav-container>

    <mat-sidenav mode="side" opened>
      <div (click)="irParaHome()">
        <h1>Coffee<span id="logo-title">Break</span></h1>
      </div>

      <div id="botoes-side-bar">
        <div id="funcionario-tag">
          Usuário
        </div>
        <div>
              <button class="botao-classe" (click)="irParaCadastroFuncionario()">
                <svg id="incluir-u" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
              </button>
              <button class="botao-classe" (click)="searchByCategory('Funcionários')">
                <mat-icon>person</mat-icon>
              </button>

        </div>
        <div id="row">
        </div>
        <div id="produto-tag">
          Produto
        </div>
          <div>
            <button class="botao-classe" (click)="irParaCadastroProduto()">
              <svg id="incluir-p" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
            </button>

            <button class="botao-classe" (click)="searchByCategory('Produtos')">
              <mat-icon> fastfood</mat-icon>
            </button>

          </div>

          <div id="botão-voltar-home">
            <button class="botao-classe" (click)="irParaHome()">
              <svg id="home" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
            </button>
          </div>
      </div>


  </mat-sidenav>

    <mat-sidenav-content id="">
      <div id="search">
        <form [formGroup]="FormBusca" (ngSubmit)="searchByText(FormBusca.controls['busca'].value)">
          <input formControlName="busca" id="search-text" type="text" placeholder="buscar produtos..." value="">
          <button id="btn-search" type="submit">
            <svg id="buscar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </form>
      </div>

      <div id="conteudo">
        <div class="content">
          <div id="searchParams">
            <mat-chip-list #chipList>
              <mat-chip *ngIf="categoria !== ''">
                {{ categoria }}
              </mat-chip>
              <mat-chip *ngIf="busca !== ''" (removed)="removeSearch()">
                {{ busca }}
                <button matChipRemove><mat-icon>cancel</mat-icon></button>
              </mat-chip>
                <input [hidden]="true" matInput
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addCategory('')">
            </mat-chip-list>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="produtos.length > 0">
            <div id="for-cards" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let produto of produtos">
              <mat-card class="mat-elevation-z4">

                <mat-card-header>
                  <mat-card-title>
                    {{produto.nome}}
                  </mat-card-title>

                  <mat-card-subtitle>
                    {{produto.categoria}}
                  </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content>
                  <img class="a" mat-card-image [src]="produto.foto">
                  <h4>
                    Descrição:
                  </h4>
                  <p>
                    {{produto.descricao}}
                  </p>
                </mat-card-content>

                <mat-card-actions id="btn-actions">
                  <button mat-button id="btn-card" (click)="irParaEditarProduto(produto)">
                    <svg id="editar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </button>
                  <button mat-button id="btn-card" (click)="excluirProduto(produto)">
                    <svg id="excluir" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </button>
                </mat-card-actions>

              </mat-card>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="funcionarios.length > 0">
            <div id="for-cards" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let funcionario of funcionarios">
              <mat-card class="mat-elevation-z4">

                <mat-card-header>
                  <mat-card-title>
                    {{funcionario.nome}}
                  </mat-card-title>

                  <mat-card-subtitle>
                    {{ funcionario.admin ? 'Administrador' : 'Funcionário' }}
                  </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content id="u-content">
                  Telefone: {{ funcionario.telefone }}
                  <p></p>
                  Email: {{ funcionario.email }}
                </mat-card-content>

                <mat-card-actions id="btn-actions">
                  <button mat-button id="btn-card" (click)="irParaEditarFuncionario(funcionario)">
                    <svg id="editar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </button>
                  <button mat-button id="btn-card" (click)="excluirFuncionario(funcionario)">
                    <svg id="excluir" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  </button>
                </mat-card-actions>

              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>


  </mat-sidenav-container>
