mat-sidenav{
    width:  25.806451612903224vh;
    height: 100%;
    border-right: none;
    background: #002b5c;
    color: white;

    padding: 2.064516129032258vh;
    text-align: center;
    
}
#logo-title{
    color:peru;
}
#conteudo{
    
    height: 100%;
    border-radius: 1.2903225806451613vh;

   

    margin-top: 0.2064516129032258vh;

    margin-right: 0.2064516129032258vh;
 
    
    

    display: flex;


    font-size: 4.129032258064516vh;
    color: black;

    border-width: 1.2903225806451613vh;
    border-color: red;
}
mat-sidenav-container{
    height: 100%;
    background-color: green;
}

.content {
    padding: 2.064516129032258vh;
}

.content > mat-card {
    width: 25.806451612903224vh;
}
button.botao-classe {
    

    margin-top: 4.129032258064516vh;
    height:8.258064516129032vh ;
    width: 20.64516129032258vh;
    border-radius:0.06451612903225806vh;
    background-color: #D2B590;
    transition: all 0.75s;
    z-index: 1;
    overflow: hidden;
  }
  button.botao-classe:hover {
    animation-fill-mode: forwards;
    color: #3498db;
    background-color: brown;
  }

#search{
    background-color: black;
    color: black;
    height: 4%;
    margin-top: 2.064516129032258vh;
    margin-right: 2.064516129032258vh;
    margin-left: 0.2064516129032258vh;
    border-radius: 37.16129032258065vh;
 
    
input[type=text] {
    margin:  0.6193548387096774vh;
    width:  157.93548387096774vh;
    border-radius: 37.16129032258065vh;
    }
   

}
#ca{
    border-radius: 37.16129032258065vh;
}

#btn-card{
    margin-left:    15.483870967741936vh;
}
//<button mat-button color="primary" (click)="irParaCadastro()">Cadastro</button>
//<button mat-button color="primary" (click)="irParaDetalhar()">Detalhes</button>