<mat-list>
  <mat-list-item *ngFor="let produto of produtos" >
    <mat-list-item style="color: black;" >ID: {{ produto.id }}</mat-list-item>
    <mat-list-item style="color: black;">Nome: {{ produto.nome }}</mat-list-item>
    <mat-list-item style="color: black;">Preço: {{ produto.preco }}</mat-list-item>
  </mat-list-item>
 </mat-list>
<button mat-button color="primary" (click)="irParaCadastro()">Cadastro</button>
<button mat-button color="primary" (click)="irParaDetalhar()">Detalhes</button>
