mat-sidenav{
    margin: 0px;
    width: 200px;
    height: 100%;
    border-right: none;
    background: #002b5c;
    color: white;

    padding: 16px;
    text-align: center;
    
}
#logo-title{
    color:peru;
}
#conteudo{
    
    height: 100%;
    border-radius: 10px;

   

    margin-top: 0.1em;

    margin-right: 0.1em;
 
    
    

    display: flex;


    font-size: 2rem;
    color: black;

    border-width: 10px;
    border-color: red;
}
mat-sidenav-container{
    height: 100%;
    background-color: green;
}

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
button.botao-classe {
    

    margin-top: 2em;
    height: 4em;
    width: 12em;
    border-radius: 0.5em;
    background-color: #D2B590;
    transition: all 0.75s;
    z-index: 1;
    overflow: hidden;
  }
  button.botao-classe:hover {
    animation-fill-mode: forwards;
    color: #3498db;
    background-color: brown;
  }

#search{
    background-color: black;
    color: black;
    height: 4%;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 0.1em;
    border-radius: 18em;
    padding-left: 1 em;
    
input[type=text] {
    margin: 0.3em;
    width: 92em;
    border-radius: 18em;
    }
   

}
#ca{
    border-radius: 18em;
}

#btn-card{
    margin-left: 8.5em;
}
//<button mat-button color="primary" (click)="irParaCadastro()">Cadastro</button>
//<button mat-button color="primary" (click)="irParaDetalhar()">Detalhes</button>