<div class="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
  <mat-card >
    <form [formGroup]="FormCadProd" (ngSubmit)="onSubmit()" fxLayout="column">
      <button mat-button id="btn-voltar" (click)="irParaCadastro()">
        <svg id="voltar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </button>

      <mat-toolbar color="primary" fxLayoutAlign="center center">Cadastrar Produto</mat-toolbar>

      <mat-form-field>
        <input matInput placeholder="Nome" id="nome" type="text" formControlName="nome">
        <mat-error *ngIf="getErrorControl('nome', 'required')">nome obrigatório!</mat-error>
        <mat-error *ngIf="getErrorControl('nome', 'minlength')">nome inválido!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Categoria" id="categoria" formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias" value="{{ categoria }}">{{ categoria }}</mat-option>
        </mat-select>
        <mat-error *ngIf="getErrorControl('categoria', 'required')">categoria obrigatória!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Medida</mat-label>
        <mat-select id="medida" formControlName="medida" (selectionChange)="salvaMedida($event.value)">
        <mat-option *ngFor="let medida of medidas" [value]="medida">{{ medida }}</mat-option>
        </mat-select>
        <mat-error *ngIf="getErrorControl('medida', 'required')">medida obrigatória!</mat-error>
     </mat-form-field>

      <mat-form-field>
        <mat-label>Tamanho</mat-label>
        <span matPrefix>{{ medida }}&nbsp;</span>
        <input matInput placeholder="250" class="example-right-align" id="tamanho" type="number" formControlName="tamanho">
        <mat-error *ngIf="getErrorControl('tamanho', 'required')">tamanho obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Ótimo acompanhamento..." id="descricao" type="text" formControlName="descricao">
        <mat-error *ngIf="getErrorControl('descricao', 'required')">descrição obrigatória!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preço</mat-label>
        <span matPrefix>R$&nbsp;</span>
        <input matInput type="number" class="example-right-align" placeholder="0.00" id="preco" type="number" formControlName="preco">
        <mat-error *ngIf="getErrorControl('preco', 'required')">preço obrigatório!</mat-error>
        <mat-error *ngIf="getErrorControl('preco', 'minlength')">preço inválido!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Foto</mat-label>
        <input id="upload-file-container" formControlName="foto" type="file" (change)="uploadFile($event)">
        <mat-error *ngIf="getErrorControl('foto', 'required')">foto obrigatória!</mat-error>
        <input matInput [hidden]="true">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Adicionais</mat-label>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let adicional of adicionais" (removed)="remove(adicional)">
            {{adicional.nome }}: {{ adicional.preco}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input matInput placeholder="Novo adicional (pressione 'ENTER' ou ',' para adicionar)..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>

      </mat-form-field>

      <button id="btn-card" mat-button type="submit">Cadastrar produto</button>

    </form>
  </mat-card>
</div>
