<div class="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
  <mat-card >
    <form [formGroup]="FormCadProd" (ngSubmit)="onSubmit()" fxLayout="column">

      <mat-toolbar color="primary" fxLayoutAlign="center center">Cadastrar Produto</mat-toolbar>

      <mat-form-field>
        <input matInput placeholder="Nome" id="nome" type="text" formControlName="nome">
        <mat-error *ngIf="getErrorControl('nome', 'required')">nome obrigatório!</mat-error>
        <mat-error *ngIf="getErrorControl('nome', 'minlength')">nome inválido!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Categoria" id="categoria" formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias" value="{{ categoria }}">{{ categoria }}</mat-option>
        </mat-select>
        <mat-error *ngIf="getErrorControl('categoria', 'required')">categoria obrigatória!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Medida" id="medida" formControlName="medida">
          <mat-option *ngFor="let medida of medidas" value="{{ medida }}">{{ medida }}</mat-option>
        </mat-select>
        <mat-error *ngIf="getErrorControl('medida', 'required')">medida obrigatória!</mat-error>
     </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Tamanho" id="tamanho" type="number" formControlName="tamanho">
        <mat-error *ngIf="getErrorControl('tamanho', 'required')">tamanho obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Adicionais" id="adicionais" type="text" formControlName="adicionais">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Descricao" id="descricao" type="text" formControlName="descricao">
        <mat-error *ngIf="getErrorControl('descricao', 'required')">descrição obrigatória!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Foto" id="foto" formControlName="foto" (change)="uploadFile($event.target)">
        <mat-error *ngIf="getErrorControl('foto', 'required')">foto obrigatória!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0.00" id="preco" type="number" formControlName="preco">
        <span matPrefix>R$&nbsp;</span>
        <mat-error *ngIf="getErrorControl('preco', 'required')">preço obrigatório!</mat-error>
        <mat-error *ngIf="getErrorControl('preco', 'minlength')">preço inválido!</mat-error>
      </mat-form-field>

      <button id="btn-card" mat-button type="submit">Cadastrar produto</button>

    </form>
  </mat-card>
</div>
