<div class="conteudo-de-fora" fxLayoutAlign="center center" fxFlexFill>
  <mat-card  fxLayout="column">
    <form fxLayout="column" [formGroup]="FormCadFunc">
      <button mat-button id="btn-voltar" (click)="irParaCadastro()">
        <svg id="voltar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </button>
      <mat-toolbar color="primary" fxLayoutAlign="center center">Cadastrar Usuário</mat-toolbar>

        <mat-form-field>
          <input matInput placeholder="Nome" id="nome" type="text" formControlName="nome">
          <mat-error *ngIf="getErrorControl('nome', 'required')">nome obrigatório!</mat-error>
          <mat-error *ngIf="getErrorControl('nome', 'minlength')">nome inválido!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" id="email" type="text" formControlName="email">
          <mat-error *ngIf="getErrorControl('email', 'required')">email obrigatório!</mat-error>
          <mat-error *ngIf="getErrorControl('email', 'email')">email inválido!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Telefone" id="telefone" type="text" formControlName="telefone">
          <mat-error *ngIf="getErrorControl('telefone', 'required')">telefone obrigatório!</mat-error>
          <mat-error *ngIf="getErrorControl('telefone', 'minlength')">telefone inválido!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Senha" id="senha" type="text" formControlName="senha">
          <mat-error *ngIf="getErrorControl('senha', 'required')">senha obrigatório!</mat-error>
          <mat-error *ngIf="getErrorControl('senha', 'minlength')">senha inválido!</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-checkbox class="" id="admin" (change)="changePermAdmin()">Usuário é administrador (gerencia produtos e usuários) ?</mat-checkbox>
          <input matInput [hidden]="true">
        </mat-form-field>

        <button id="btn-card" mat-button type="submit" (click)="onSubmit()">Criar usuário</button>

        </form>
    </mat-card>
</div>

